.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 52rem;
}

.exercises {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
