.programSection {
  display: flex;
  flex-direction: column;
}

.typeWrapper,
.muscleWrapper {
  display: flex;
  gap: 5px;
}

.typeWrapper {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.muscleSection {
  display: flex;
  flex-direction: column;
}

.muscleWrapper {
  flex-wrap: wrap;
}
