.programSection {
  display: flex;
  flex-direction: column;
}

.typeWrapper,
.muscleWrapper,
.searchWrapper {
  display: flex;
  gap: 5px;
}

.typeWrapper {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.muscleSection,
.searchSection {
  display: flex;
  flex-direction: column;
}

.muscleWrapper,
.searchWrapper {
  flex-wrap: wrap;
}
