.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 24rem;
  height: 8rem;
  padding: 2rem 1rem;
  border-radius: 12px;
  background-color: #999999;
}

.small {
  height: 8rem;
  width: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
